.popup__errorBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  max-width: 358px;
  width: 100%;
  margin-bottom: 0px;
}
.popup__errorBlock:nth-child(3n) {
  margin-bottom: 30px;
}
@media screen and (max-width: 948px) {
  .popup__errorBlock {
    margin-left: 36px;
  }
}
