.profile__avatar-butt {
  background-image: url(../../../../images/editavatar.svg);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  opacity: 0;
  border: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.8s ease;
  position:absolute;
}
.profile__avatar-butt:hover {
  opacity: 0.8;
  background-color: #000;
}
